---
import ProjectsItem from "./ProjectsItem.astro";
import GitHubIcon from "./icons/GitHub.astro";
import UnLink from "./icons/UnLink.astro";

const PROJECTS = [
  {
    title: "Route PHP",
    description:
      "Router PHP es un proyecto personal inspirado en Laravel, creado para comprender mejor cómo funciona el enrutamiento en PHP desde cero. Permite definir rutas, controladores y middlewares de forma simple. Está en fase alpha y pensado como herramienta educativa más que para entornos de producción.",
    links: [
      {
        title: "GitHub",
        href: "https://github.com/jackas779/router-php",
        icon: GitHubIcon,
      },
    ],
    gitihub: "git",
    image: "/projects/route-php-screenshot.webp",
    tags: ["PHP", "HTML"],
  },
  {
    title: "Portfolio",
    description:
      "proyecto personal en fase de prueba, pensado para mostrar mis trabajos, proyectos y habilidades. Actualmente está en desarrollo y funciona como un espacio de experimentación donde aplico y mejoro mis conocimientos en diseño web.",
    links: [
      {
        title: "GitHub",
        href: "https://github.com/jackas779/portfolio",
        icon: GitHubIcon,
      },
      {
        title: "Preview",
        href: "https://porfolio-jackas779.netlify.app/",
        icon: UnLink,
      },
    ],
    gitihub: "git",
    image: "/projects/prueba.webp",
    tags: ["HTML", "CSS", "JavaScript", "Astro"],
  },
];
---

{
  PROJECTS.map((project) => (
    <article>
      <ProjectsItem {...project} />
    </article>
  ))
}

<!-- {(<ProjectsItem />)} -->

<!-- 
      <img
        class="rounded shadow-2xl shadow-white/5"
        src={image}
        alt={`Captura del proyecto ${title}`}
      />
      <h3 class="text-2xl font-semibold text-blue-400 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul> -->
